<form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
  <h3>Login</h3>
  <p>
    <mat-form-field appearance="outline" [style.width.%]="100">
      <input type="email" matInput formControlName="email" placeholder="Email" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" [style.width.%]="100">
      <input type="password" matInput formControlName="password" placeholder="Password" required>
    </mat-form-field>
  </p>
    
  <button mat-flat-button>Login</button>
</form>
